.home-info-container {
  background-image: url('https://images.unsplash.com/photo-1500674425229-f692875b0ab7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  display: grid;
  grid-template-rows: fit-content(100%);
  height: 100vh;
  height: 100%;
  width: 100vw;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  cursor: pointer;
  padding: 3rem 0 0 5rem;
}

.header-links-container {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 5rem 0 0;
  width: 300px;
}

.header-link {
  color: #f7f7f7;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #555;
}

.introduction-container {
  display: inline-flex;
  flex-direction: column;
  margin: 12rem 0 0 5rem;
  text-shadow: 1px 1px #555;
  width: 34%;
}

.introduction-header {
  color: #f9f9f9;
  font-weight: 300;
  font-size: 2rem;
}

.introduction-text {
  color: #f7f7f7;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 550px;
}

.introduction-button {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.01);
  border: #f7f7f7 solid 1px;
  border-radius: 10px;
  color: #f7f7f7;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 60px;
  margin-top: 1.5rem;
  width: 210px;
}

.introduction-button:hover {
  background-color: #f7f7f7;
  color: #171717;
}

.home-intro-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.more-info-container {
  align-items: center;
  color: #f7f7f7;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding-top: 10rem;
  text-decoration: none;
}

.arrow-text {
  color: #f7f7f7;
  margin: 0;
}

@media screen and (max-width: 1402px) {
  .more-info-container {
    padding-top: 7.6rem;
  }
}

@media screen and (max-width: 1111px) {
  .introduction-container {
    align-items: center;
    margin-left: 0;
    width: 100%;
  }

  .more-info-container {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 630px) {
}
