.features-container {
  color: #333f4d;
}

.features-header {
  padding: 3rem 0 0 5rem;
}

.features-section {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 45%);
}

.feature-container {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 4rem;
}
