h3 {
  margin: 0;
}

.features-container {
  color: #333f4d;
  height: 100vh;
  height: 100%;
  width: 100vw;
  width: 100%;
}

.features-header {
  padding: 3rem 0 0 5rem;
}

.features-section {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 45%);
}

.feature-container {
  color: #333f4d;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.features-content {
  margin: 3.5rem 0;
}

.bottom {
  margin-bottom: 0.25rem;
}

.features-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact-link-container {
  align-items: center;
  color: #171717;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-decoration: none;
}

.arrow-features-text {
  margin: 0;
}

@-moz-document url-prefix() {
  .features-content {
    margin: 2.5rem 0;
  }

  .arrow-features-text {
    margin-top: 1rem;
  }
}
