.features-container {
  color: #333f4d;
  padding-bottom: 2.2rem;
}

.features-header {
  padding: 3rem 0 0 5rem;
}

.features-section {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 45%);
}

.feature-container {
  color: #333f4d;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.features-content {
  margin: 3.5rem 0;
}
